<footer class="footer">
    <div class="container">
        <div class="footer__inner">
            <div class="footer__left">
                <div class="footer__top">
                    <div class="top__item">
                        <i class="top__icon fab fa-instagram-square"></i>
                        <a class="top__link" href="https://www.instagram.com/ensat_lv/" target="_blank" rel="noreferrer">
                            ensat_lv
                        </a>
                    </div>
                    <div class="top__item">
                        <i class="top__icon fab fa-facebook-square"></i>
                        <a class="top__link" href="https://www.facebook.com/siaENSAT/" target="_blank" rel="noreferrer">
                            ensat_lv
                        </a>
                    </div>
                </div>
                <div class="footer__bottom">
                    <div class="bottom__item">
                        <i class="fas fa-map-marker-alt"></i>
                        <span>Rīgas Rajons, Stopiņu Pagasts, Līči, Latvija</span>
                    </div>
                    <div class="bottom__item">
                        <i class="fas fa-phone-alt"></i>
                        <a href="tel:+37129802769">+371 29802769</a>
                    </div>
                    <div class="bottom__item">
                        <i class="fas fa-envelope"></i>
                        <a href="mailto:siaensat@inbox.lv">siaensat@inbox.lv</a>
                    </div>
                </div>
            </div>
            <div class="footer__right">
                <img class="right__logo" src="/img/ensat.png" alt="SIA Ensat Logo">
            </div>
        </div>
    </div>
</footer>